$color-primary: #505050;
$color-secondary: #ededed;
$color-tertiary: #222222;

$color-white: #fff;

$color-gray-dark: #858a88;
$color-gray-dark-2: #a2a2a2;
$color-light-gray: #fffdfd;
$color-light-gray-2: #c4c4c4;

$color-black: #000000;
$color-red: #ff5353;

$color-dark-blue: #072759;
$color-green: #17ac2f;
$color-purple: #5817ac;
$color-light-blue: #3dc2ff;

$color-bronze: #cd7f32;
$color-silver: #c0c0c0;
$color-gold: #ffd700;
$color-platinum: #e5e4e2;
