.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}
.u-margin-bottom-big {
  margin-bottom: 10rem;
}
.u-margin-top-big {
  margin-top: 8rem;
}
.italic-text {
  font-style: italic;
}
.paragraph-big {
  font-size: 3rem;
}
